*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#c2bfef;;
}
#heading{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-weight: bold;
    margin-bottom: 30px;
}


.todo p , .acme p{
    color: #373737;
    font-size: 20px;
    
}

.todo , .acme{
    background-color: #ccc;
}
.todo{
    margin: 0px 3px ;
    border-radius: 5px;
}
.acme{
    margin: 0px 3px ;
    border-radius: 5px;
    
}

.link{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}